@model ProductWebApplication.Models.Custom.HomeIndexViewModel

@{
    ViewData["Title"] = "Product List";
}


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        
        @{
            var index = 1;
            foreach (var product in Model.Products)
            {
                var itemClass = "item";
                if (index == 1)
                {
                    itemClass = "item active";
                }
                <div class="@itemClass">
                    
                    @{
                        var imgPath = $"//drive.google.com/uc?id=14AFUK-Ot-bqL_CVgRjamn3Cp0NyWaTga";
                        if (product.Images.Count > 0)
                        {
                            imgPath = product.Images[0].ImageName;
                        }
                    }
                    <img src=@imgPath alt="ASP.NET" class="img-responsive"/>
                    <div class="carousel-caption" role="option">
                        <p>
                            @product.ProductName
                            <a class="btn btn-default" href="/">
                                Details
                            </a>
                        </p>
                    </div>
                </div>
                index += 1;
                if (index > 3) {break;}
            }
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h2>Product List</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
    </thead>
    @*<thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Add to Cart", "HomeIndex", new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink("Details", "HomeIndex", new {/* id=item.PrimaryKey */}) 
            </td>
        </tr>
    }
    </tbody>
</table>
